<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wonders.hms.wonder.persistence.WonderHotelImageMapper">
    <resultMap id="wonderHotelImageResult" type="com.wonders.hms.wonder.vo.WonderHotelImage">
        <result property="id" column="id" />
        <result property="wonderHotelInfoId" column="wonder_hotel_info_id" />
        <result property="image" column="image" />
    </resultMap>

    <insert id="insertWonderHotelImage" parameterType="com.wonders.hms.wonder.vo.WonderHotelImage">
        INSERT INTO wonder_hotel_image (wonder_hotel_info_id, image) VALUES (#{wonderHotelInfoId}, #{image})
    </insert>

    <delete id="deleteWonderHotelImage">
        DELETE FROM wonder_hotel_image WHERE wonder_hotel_info_id=#{wonderHotelInfoId}
    </delete>

    <select id="getWonderHotelImages" resultMap="wonderHotelImageResult">
        SELECT * FROM wonder_hotel_image WHERE wonder_hotel_info_id=#{wonderHotelInfoId}
    </select>

</mapper>